{% extends "base.html" %}

{% block title %} {{user.username}} - Details {% endblock %}

{% block content%}
<div class="container">
<h1 class="display 1">Account Details</h1>
<div>Username: {{user.username}}</div>
<div>First Name: {{user.first_name}}</div>
<div>Last Name: {{user.last_name}}</div>
<div>Email: {{user.email}}</div>
<a href="/users/{{user.username}}/delete" class="btn btn-danger btn-sm">Delete User</a>
</div>

<div class="container">
<h2>Feedback</h2>


{% for comment in feedback %}
{% if session['username'] == comment.user.username %}
<div class="card">
    <div class="card-body">
     <h5 class="card-title text-info"><b>{{comment.title}}</b></h5>
     <p class="card-text">{{comment.content}}</p>
     <a href="/feedback/{{comment.id}}/update" class="btn btn-warning btn-sm">Edit</a>
     <form action="/feedback/{{comment.id}}/delete" method="post">
     <button class="btn btn-danger btn-sm">Delete Post</button>
    </form>
    </div> 
</div> 
{% endif %}  
{% endfor %}


<a href="/users/{{user.username}}/feedback/add" class="btn btn-info btn-sm">Add Feedback</a>

</div>
{% endblock %}